//colors
$blue-color: #47b6ff;
$blue-dark-color: rgba(6, 40, 61, 0.8);
$blue-green-color: rgba(37, 109, 133, 0.8);
$blue-winter-color: #DFF6FF;

//fonts 
$primary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;